<html xmlns:th="http://www.thymeleaf.org" >
<div th:replace="/admin/header :: header"></div>
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">仪表盘</h4>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bx-shadow bg-info">
                <span class="mini-stat-icon"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
                <div class="mini-stat-info text-right">
                    发表了<span class="counter">${statistics.articles}</span>篇文章
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bg-purple bx-shadow">
                <span class="mini-stat-icon"><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                <div class="mini-stat-info text-right">
                    收到了<span class="counter">${statistics.comments}</span>条留言
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="mini-stat clearfix bg-success bx-shadow">
                <span class="mini-stat-icon"><i class="fa fa-cloud-upload" aria-hidden="true"></i></span>
                <div class="mini-stat-info text-right">
                    上传了<span class="counter">${statistics.attachs}</span>个附件
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">最新文章</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <div th:each="article : ${articles}">
                            <li class="list-group-item">
                                <span class="badge badge-primary"
                                      th:title="${article.commentsNum}条评论" th:value=${article.commentsNum}""></span>
                                <a target="_blank" th:href="${@customsComponent.site_url('/article/')}${article.cid}">${article.title}</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">最新留言</h4>
                </div>
                <div class="panel-body">
                    <div th:if="null == ${comments} || ${comments.size} == 0">
                        <div class="alert alert-warning">
                            还没有收到留言.
                        </div>
                    </div>
                    <div th:unless="null == ${comments} || ${comments.size} == 0">
                        <ul class="list-group">
                            <div th:each="comment : ${comments}">
                                <li class="list-group-item">
                                    <div th:if="null != ${comment.url} && ${comment.url} != ''">
                                        <a th:href="${comment.url}" target="_blank">${comment.author}</a>
                                        <div th:unless="null != ${comment.url} && ${comment.url} != ''" th:text="${comment.author}">
                                        </div>
                                        <label th:value="'于'+${@customsComponent.fmtdate(comment.created,'MM月dd日HH:mm')}+' ：'"/>
                                        <a th:href="@{${@customsComponent.site_url('/article/')} + ${comment.cid}}" target="_blank" th:text="${@customsComponent.article(comment.content)}"></a>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">系统日志</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <div th:each="log : ${logs}">
                            <li class="list-group-item">
                                <span th:text="${@customsComponent.fmtdate(log.created, 'yyyy-MM-dd HH:mm:ss')} + ' => ' + ${log.action}"></span>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/admin/footer :: footer"></div>
</body>
</html>