<div xmlns:th="http://www.thymeleaf.org" th:fragment="comments">
    <div th:if="${content != null}" th:with="login_user = ${session.login_user}">
        <div th:id="${content.id == 0 ? content.id : 0}" class="comment-container">
            <div id="comments" class="clearfix" >
                <div th:if="${content.allowComment}">
                                    <span class="response" >
                                        Hi
                                        <a th:if="null != ${login_user}" th:href="${login_user.homeUrl}" data-no-instant th:text="|,${login_user.username}|"></a>
                                            如果你想 <a href="/logout" title="注销" data-no-instant>注销?</a>
                                    </span>

                    <form method="post" id="comment-form" class="comment-form" onsubmit="return TaleComment.subComment();">
                        <input type="hidden" name="cid" id="cid"/>
                        <input type="hidden" name="id" id="id" th:value="${content.id}"/>
                        <input type="hidden" name="csrf_token" th:value="${csrf_token}"/>
                        <input name="author" maxlength="12" id="author" class="form-control input-control clearfix"
                               placeholder="姓名 (*)" th:value="${login_user.username}" required/>
                        <input type="email" name="mail" id="mail" class="form-control input-control clearfix" placeholder="邮箱 (*)"
                               th:value="${login_user.email}" required/>
                        <input type="url" name="url" id="url" class="form-control input-control clearfix" placeholder="网址 (http://)"
                               th:value="${login_user.homeUrl}"/>
                        <textarea name="content" id="textarea" class="form-control" placeholder="基佬，留下你的评论." required minlength="5" maxlength="2000"></textarea>
                        <button class="submit" id="misubmit">提交</button>
                    </form>
                </div>

                <span th:unless="${content.allowComment}" class="response">评论已关闭.</span>
                <!--TODO 判定是否存在-->
                <ol th:with="comments=${content.commentPage.content}" th:if="comments != null" class="comment-list">
                    <div th:each="comment : ${comments}">
                        <li th:id="|li-comment-${comment.cid}|" class="comment-body comment-parent comment-odd">
                            <div th:id="|comment-${comment.cid}|">
                                <div class="comment-view" onclick="">
                                    <div class="comment-header">
                                        <!--<img class="avatar" th:src="|${gravatar(comment.mail)}?s=80&r=G&d=|" th:title="${comment.author}"-->
                                        <!--<img class="avatar" th:src="|/user/head/80/${comment.mail}|" th:title="${comment.author}"-->
                                        <img class="avatar" th:src="|/file/image/user/head/${comment.mail}/80|" th:title="${comment.author}"
                                             width="80" height="80">
                                        <span class="comment-author">
                                <a th:href="${comment.url}" target="_blank" rel="external nofollow" th:text="${comment.author}"></a>
                            </span>
                                    </div>
                                    <div class="comment-content">
                                        <span class="comment-author-at"></span>
                                        <!--<p th:text="${article(comment.content)}"></p>-->
                                        <p th:text="${comment.content}"></p>
                                    </div>
                                    <div class="comment-meta">
                                        <!--<time class="comment-time">${fmtdate(comment.created)}</time>-->
                                        <span class="comment-reply">
                                <a rel="nofollow" th:onclick="|TaleComment.reply(${comment.cid});|">回复</a>
                            </span>
                                    </div>
                                </div>
                            </div>
                            <div th:if="${#lists.size(comment.children) &gt; 0}" class="comment-children">
                                <ol class="comment-list">
                                    <li th:each="child : ${comment.children}" th:id="|li-comment-${child.cid}|"
                                        class="comment-body comment-child comment-level-odd comment-odd">
                                        <div th:id="|comment-${child.cid}|">
                                            <div class="comment-view">
                                                <div class="comment-header">
                                                    <!--<img class="avatar" th:src="|${gravatar(child.mail)}?s=80&r=G&d=|" th:title="${child.author}" width="80" height="80">-->
                                                    <!--<img class="avatar" th:src="|/user/head/80/${child.mail}|" th:title="${child.author}" width="80" height="80">-->
                                                    <img class="avatar" th:src="|/file/image/user/head/${child.mail}/80|" th:title="${child.author}" width="80" height="80">
                                                    <span class="comment-author comment-by-author">
                                            <a th:href="${child.url}" target="_blank" rel="external nofollow" th:text="${child.author}"></a>
                                        </span>
                                                </div>
                                                <div class="comment-content">
                                        <!--<span class="comment-author-at" th:text="${comment_at(child.parent)}">-->
                                        <span class="comment-author-at" th:text="${child.parent.content}">

                                        </span>
                                                    <!--<p th:text="${article(child.content)}"></p>-->
                                                    <p th:text="${child.content}"></p>
                                                </div>
                                                <div class="comment-meta">
                                                    <!--<time class="comment-time" th:text="">${fmtdate(child.created)}</time>-->
                                            <a rel="nofollow" th:onclick="|TaleComment.reply(${child.cid});|">回复</a>
                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </li>
                    </div>
                </ol>
                <div class="lists-navigator clearfix">
                    <ol class="page-navigator" th:with="commentPage=${content.commentPage}">
                        <li th:if="${commentPage.hasPrevious()}" class="prev">
                            <a th:href="|?cp=${commentPage.hasPrevious()}#comments|">←</a>
                        </li>
                        <!-- TODO  -->
                        <li th:each="commentContent : ${commentPage.content}" th:if="${commentContent.id} == 1" class="current">
                            <a th:href="|?cp=${commentContent}#comments|" th:text="${commentContent.content}"></a>
                        </li>
                        <li th:if="*{commentPage.hasNext()}" class="next"><a th:href="|?cp=*{commentPage.hasNext()}#comments|">→</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/comm/script_comment :: script_comment"/>
</div>
